.box{
    border: 0px rgb(0, 0, 0) solid; 
    width: 40%; 
    margin: auto; 
    padding: 15px
}

.title1 {
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    text-align: center;
    /* background-color: rgb(154, 231, 177); */
}

.text{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: justify;
    background-color: rgba(255, 255, 255, 0) !important
    
}

#textcolor{
    color: rgb(0, 0, 0);
    background-color: rgb(122, 15, 15);
}

.contact-1{
    text-align: center;
    background-color: black;
    width: 80px;
    border-radius: 20px;
}

.contact-p{
    color: #f8f8f8;
}

/* ===PHOTO PROFILE=== */

.conten-alignment{
    padding: 20px;
    display: flex;
    justify-content: center; */
}

.iconalignment{
    display: flex;
    gap: 20px;
    justify-content: space-between;
    background-color: rgb(240, 255, 248);
}

div.polaroid {
    width: 25%;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 25px;
    justify-content: center;
  }
  
  div.container {
    text-align: center;
    padding: 10px 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: medium;
    font-weight: 600;
  }

/* ===NAVBAR=== */

body{
    margin: 0;
}

nav{
    background-color: #f4f3f3;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.left{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    background-color: rgba(255, 255, 255, 0);
}

.middle{
    background-color: rgba(128, 128, 128, 0);
    display: flex;
    align-items: center
}

.title{
    font-family: Arial, Helvetica, sans-serif;
    font-size: xx-large;
    font-weight: 600;
}

.right{
    background-color: rgba(29, 91, 185, 0);
    padding-right: 20px;
    display: flex;
    align-items: center
}

.button-1{
    background-color: rgb(65, 65, 65);
    border-radius: 20px;
    width: 140px;
    border-style: none;
    margin: 10px 10px 10px 10px;
}

.button-p{
    color: #f8f8f8;
    font-size: 20px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.left ul{
    display: flex;
    align-items: center;
}

.left ul li{
    list-style-type: none;
    padding-right: 30px;
}

.left ul li a{
    text-decoration: none;
    color: black;
    font-weight: 800;
}

.home-logo{
    width: 70px;
}



/* HOME IMAGE */


.background{
    margin: 0;
    padding: 0%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}